@model List<Omar_EAD_Term_Project.Models.place>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Destinations</title>
    <script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
</head>

<body id="page2">
    <!-- content -->
    <section id="content">


        <h2 align="center">DESTINATIONS</h2>

        <div align="center">
            <table >
                
                @if (Model != null)
                {
                    foreach (var clt in Model)
                    {
                        <tr>
                            <td align="center"><h3>@clt.name</h3> </td>
                         </tr>
                    }
                }
            </table>
        </div>
        <br /><br /><br />
        
    </section>
    <!-- / content -->
</body>

</html>